.login__background {
  height: 100vh;
  background: rgb(34, 193, 195);
  background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

  .login__container {
    height: 60%;
    width: 30%;
    margin: auto;
    background-color: white;
    padding: 15px 5px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .status {
      font-size: 8px;
      color: red;
    }

    .login__content {
      padding: 10px;

      .login-input {
        .form-control {
          margin: 10px 0;
        }
      }

      &--text {
        font-weight: 600;
        text-align: center;
        font-size: 24px;
        padding-top: 10px;
      }

      .btn-login {
        padding: 4px 0;
        margin: 10px 0;
        width: 100%;
        border-radius: 20px;
        background: rgb(34, 193, 195);
        background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
      }

      .forgot-password {
        font-size: 12px;
      }

      .social-login {
        display: flex;
        justify-content: center;

        .google {
          background-color: #c32424;
          color: white;
          font-size: 30px;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
        }

        .fb {
          background-color: white;
          color: blue;
          font-size: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

      }
    }
  }
}