.home-header-banner {
  background-image: url('../../assets/bookingcare-background.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;


  .content-up {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
    height: 65%;
    padding-top: 80px;

    .title1 {
      text-align: center;
      font-size: 30px;
      text-shadow: 1px 1px 1px #333;
      margin-bottom: 15px;
      color: white;
      margin-top: 30px;
    }

    .title2 {
      text-align: center;
      font-size: 30px;
      text-shadow: 1px 1px 1px #333;
      color: white;
      margin-bottom: 15px;
    }

    .search {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 10px;
      border-radius: 25px;
      background: #f7d800;

      i {
        margin: 0 5px;
      }

      input {
        height: 30px;
        width: 360px;
        background: transparent;
        border: none;
        outline: none;
      }
    }
  }

  .content-down {
    height: 35%;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

    .options {
      text-align: center;
      display: flex;
      gap: 30px;
      justify-content: space-between;

      .options-child {
        width: 100px;

        .icon-child {
          background: white;
          width: 40px;
          height: 40px;
          padding: 10px;
          border-radius: 50%;
          text-align: center;
          margin: 0 auto;

          i {
            color: #49bce2;
            font-size: 20px;

          }
        }

        .text-child {
          font-size: 17px;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            color: #49bce2;
          }
        }
      }
    }
  }
}